#menu{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-row: inherit;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
}
.cocktail-card{
    height: 170px;
    width: 120px;
    border: 16px solid transparent;
    border-image:  url("../../images/border-img.png") 16 stretch;
}
.cocktails{
    height: 95px;
    width: 95px;
}
.cock-type{
    font-size: 16px;
    font-weight: 100;

}