@import 'config.css';

body{
    background: var(--body-bg-color);
    color: var(--primary-text-color);
    font-family: 'Star-crush', sans-serif;
    position: relative;
}

.titlebar{
    /* makes the region dragable */
    /* position: absolute; */
    /* right: 0; */
    -webkit-app-region: drag;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.window-controls button{
    /* makes the buttons clickable */
    
    all: unset;
    -webkit-app-region: no-drag;
    width: 42px;
    height: 40px;
}

.window-controls button img{
    display: block;
}

.window-controls button:hover{
    transform: translate(-5%, -5%);
}
.window-controls button:active{
    transform: translate(5%, 5%);
    /* Same as if we would use darken in scss */
    /* background-color: hsl(from var(--body-bg-color) h s calc(l - 10)); */
}
